<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="customers/header :: headerlink"/>

<body class="Site"><!-- class="d-flex flex-column h-100" -->
<div th:replace="customers/header :: header"></div>

<main role="main" class="SiteContent"><!-- class="flex-shrink-0" -->
<section class="customerList my-2">
<div class="container-fluid">
<div class="text-center py-5">
<h1 class="section-heading py-5  font-weight-normal">View Customers</h1>
<div class="mx-auto heading-line">
<p>
User: <span th:text="${#authentication.principal.username}" ></span>, Role(s):<span th:text="${#authentication.principal.authorities}" ></span>
</p>
</div>
</div>
<div class="row mt-0">
<div class="col-md-8 offset-md-2 mt-0">
<table id="viewCustomers" class="table table-bordered table-striped table-hover dataTable">
<thead class="table-dark">
<tr>
<th>First Name</th><th>Last Name</th><th>Email</th><th sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_ADMIN')">Action</th>
</tr>
</thead>
<tbody class="table-light">

<tr th:each="tempCustomer : ${customers}" th:id="${tempCustomer.id}">
<td th:text="${tempCustomer.firstName}"/>
<td th:text="${tempCustomer.lastName}"/>
<td th:text="${tempCustomer.email}"/>
<td sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_ADMIN')"><!-- @{/customer/showCustomerFormForUpdate(Id=${tempCustomer.id})} -->

<button sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_ADMIN')" class="btn btn-primary" th:attr="onclick='window.location.href=\'showCustomerFormForUpdate?Id='+ ${tempCustomer.id}+'\''">Update</button>  

<span sec:authorize="hasRole('ROLE_ADMIN')">|</span>
<button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger" th:attr="onclick='deleteCustomer(\'' + ${tempCustomer.id}+  '\');'" >Delete</button>

</td>
</tr>

</tbody>
</table>
</div>
</div>
</div>
</section>
  </main>
<div th:replace="customers/footer :: footer"></div>
<!-- <div th:replace="customers/footer :: footerlink"></div> -->
<script type="text/javascript">
$(document).ready(function(){
	$('#viewCustomers').DataTable();
});
</script>
<script type="text/javascript">
/* window.location.href='customer/deleteCustomer?Id=${tempCustomer.id}' return false;*/
function deleteCustomer(id){
	//alert("response "+id);
	var valid = confirm("Are you sure you want to delete this employee!");
	if(valid == true){
	var myTable = $('#viewCustomers').DataTable();
	 $.ajax({
		type:'get',
		url:'deleteCustomer',
		data:{
			Id:id
			},
	    success:function(reponse){//reponse
		    //alert("response "+reponse);
	    	console.log(reponse);
	    	myTable
	        .row( '#'+id+'')
	        .remove()
	        .draw();
		    },
	   error:function(xhr, status, error){
		  // var err = eval("(" + xhr.responseText + ")");
		   	 // console.log( err);
		      console.log(status);
		      console.log(error);
		   }
		});
 
	/* $.get("deleteCustomer", {
		Id : id,	
	}, function(data) {

		//var json = JSON.parse(data);

	}).done(function() {
		myTable
        .row( '#'+id+'')
        .remove()
        .draw();
	}).fail(function(xhr, textStatus, errorThrown) {
	}); *//* .complete(function() {
		

	}); */
	}
		
}
</script>
</body>
</html>